body {
    background-color: #000A08;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  // Mapa de colores
  $colors:(primary:#1A4A41,primary-text:#E7E5DF);